<div class="spinnerCustomStyle " *ngIf="!isLoaded">
    <mat-spinner  ></mat-spinner>
</div>
    <div class="container" *ngIf="isLoaded " >
    <div class="row justify-content-center ">
        <section id="doctors" class="doctors col-10 "  >
            <div  class=" total col-12">{{bookingInfo.length}} Available appointments
            </div>
            <div class="row my-4   justify-content-center" >
                
                <div class="member card col-9 my-3 " *ngFor="let Bookingitem of bookingInfo" (click)="goToDoctorDetails(Bookingitem.doctorId,Bookingitem.bookingId)" >
                    <div class=" d-flex align-items-start " >
                    <div class="pic"><img [src]="Bookingitem.imageUrl" class="img-fluid"   onerror="this.onerror=null;this.src=`../../../assets/avatar/Avatar.svg`" alt=""></div>
                    <div class="member-info">
                        <h4>{{Bookingitem.name}}</h4>
                        <div>Doctor specialized in {{Bookingitem?.specification}}
                            <p><ngb-rating class="docrate" [max]="5" [readonly]="true" [rate]="Bookingitem?.doctorRate" ></ngb-rating></p>
                        </div>
                        <p class="bi bi-geo-alt">{{Bookingitem.clinicAddress}}</p>
                        <p class="bi bi-cash">{{Bookingitem.fees}}EGP</p>
                        
                        <div >
                            <p class="bi bi-telephone">{{Bookingitem.mobilePhone}}</p>
                           
                        </div>
                        
                    </div>
                   
                </div>
                <div class="timesection ">
                    <h5>{{Bookingitem.date}}</h5>
                </div>
                </div>
        </div>
        
        </section>
        </div>
    </div>