<section id="why-us" class="why-us">
    <div class="container">

      <div class="row">
        <div class="col-lg-4 d-flex align-items-stretch">
          <div class="content">
            <h3>{{'d' | translate}}</h3>
            <p>{{'we are dedicated to providing the highest quality care to our patients in a compassionate and welcoming environment. Our team of experienced and skilled medical professionals is committed to working closely with each patient to develop a personalized treatment plan that addresses their unique needs.' | translate}}
            </p>
            <div class="text-center">
              <a href="#" class="more-btn"> {{'e' | translate}} <i class="bi bi-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-8 d-flex align-items-stretch">
          <div class="icon-boxes  d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bi bi-newspaper"></i>
                  <h4> {{'f' | translate}} </h4>
                  <p>{{'g' | translate}}</p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bi bi-box"></i>
                  <h4>{{'h' | translate}}</h4>
                  <p>{{'i' | translate}}</p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bi bi-images"></i>
                  <h4>{{'j' | translate}}</h4>
                  <p>{{'k' | translate}} </p>
                </div>
              </div>
            </div>
          </div><!-- End .content-->
        </div>
      </div>

    </div>
  </section>